@media (max-width:768px) {
    .porque-me-contratar {
  padding: 2rem 1rem;
  background: #000; 
  color: #fff;
  font-family: sans-serif;
}

.porque-me-contratar h2 {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1.5rem;
  font-weight: 700;
}

.porque-me-contratar h2 span {
  color: #3b82f6; 
}

/* Container com rolagem horizontal no mobile */
.cards-container {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding: 0 0.5rem;
}

.cards-container::-webkit-scrollbar {
  display: none; /
}

.card {
  position: relative;       
  overflow: hidden;         
  flex: 0 0 80%;
  padding: 1.5rem;
  border-radius: 0.75rem;
  box-shadow: 0 0 15px rgba(0, 0, 50, 0.3);
  scroll-snap-align: start;
  background: transparent;  /* tira o fundo fixo */
  
}

/* garante que o conteúdo do card fique acima */
.card * {
  position: relative;
  z-index: 2;
}

/* waves animadas no fundo */
.wave {
  position: absolute;
  width: 300%;
  height: 300%;
  opacity: 0.5;
  left: -100%;
  top: -100%;
  background: linear-gradient(744deg, #56237b, #341fbc 60%, #13828a);
  border-radius: 40%;
  animation: wave 55s infinite linear;
  z-index: 1;
}

.wave:nth-child(2) {
  top: 72%;
  animation-duration: 10s;
}

.wave:nth-child(3) {
  top: 50px;
  animation-duration: 45s;
}

@keyframes wave {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.card .icon {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
  color: #3867b2;
}

.card h3 {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.card p {
  font-size: 0.9rem;
  line-height: 1.4;
  opacity: 0.9;
}




}

@media (max-width:768px) {
  
 .btn-whatsapp-2 a {
  text-decoration: none;
 }

 .btn-whatsapp-2 {
  justify-content: center;
  align-content: center;
  text-align: center;
  display: flex;
  
  position: relative;
   padding: 30px 40px;
   margin-bottom: -20px;
  
 }

.cssbuttons-io-button {
   background: linear-gradient(90deg, #3b82f6, #2563eb);
  color: white;
  font-family: inherit;
  padding: 0.35em;
  width: 100%;
 padding-left: 1.1em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #714da6;
  overflow: hidden;
  position: relative;
  height: 2.8em;

  cursor: pointer;
}

.cssbuttons-io-button .icon-isoled {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon-isoled {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon-isoled svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #7b52b9;
}

.cssbuttons-io-button:hover .icon-isoled svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon-isoled {
  transform: scale(0.95);
}


}
