* { 
  width: 100%;
  margin: 0;
  padding: 0;
  background:none;
 box-sizing: border-box; 
}

body {
    width: 100%;
    margin: 0; 
    height: 0;
    padding: 0;
}


/* ocultar e aparecer */
.background-topo, .mobile-top-container, .primary-text-01, .btns-primary, .circulo, .ocultar-desktop, .img-corte-01, .insta-title, 
.img-divisor-01, .opcoes, .landing-info, .strategy-box, .porque-me-contratar, .portfolio-container, .slider, .insta-container, .incg-wrap, .mobile-menu {
  display: none;
}

@media (max-width:768px) {
  .background-topo, .btns-primary, .ocultar-desktop, .img-corte-01, .insta-title, .insta-text,
  .img-divisor-01, .opcoes, .landing-info, .strategy-box, .porque-me-contratar, .portfolio-container, .slider, .insta-container, .incg-wrap, .mobile-menu {
    display: block;
  }

@media (max-width:768px){
  .custom-header, .desktop-svgs, .sombra {
    display: none;
  }
}

}
/* fechamento*/

