

:root {
   --cor-azul-1: #00007d;
}


.custom-header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  left: 40px;
  padding: 0 6px 0 15px;
  align-items: center;
  height: 60px;
  box-sizing: border-box;
  border-radius: 0 0 20px 20px;
  
  overflow: hidden; 
  z-index: 10;
  width: calc(100% - 80px);
  background: #06050a;
}


.header-side {
  background-color: transparent;
  display: flex;
  padding-right: 10px;
  align-items: center;
  justify-content: space-between;
}


.header-left {
  justify-content: flex-start;
}

.header-right {
  justify-content: flex-end;
}


.logo {
  height: 28px;
  margin-right: 0.5rem;
  width: 30px;
}

.brand-name {
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 1rem;
}

.nav-center {
  background-color: black;
  display: flex;
  white-space: nowrap;
  justify-content: center;
  gap: 2rem;
}

.nav-center a {
  background-color: black;
  color: white;
  text-decoration: none;
  font-size: 0.95rem;
}

.nav-center a:hover {
  color: #00aaff;
}
#social-popup {
    display: none;
}

.social-popup {
  position: absolute;
  align-items: flex-start;
  top: 80px; 
  left: 0;
  --webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
  border: 1px solid #ffffff40;
  border-radius: 10px;
  padding: 12px;
  width: 90px;
  flex-direction: column;
  min-width: 200px;
  z-index: 1;
  opacity: 1;
  pointer-events: all;
  transform: translateY(20px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  
  
  
}

.social-popup a {
  color: black;
  text-decoration: none;
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: transparent;
  font-size: 1rem;
  border-radius: 8px;
  transition: background 0.2s ease;
}

.social-popup a:hover {
  background: rgba(255, 255, 255, 0.1);
}

.social-popup svg {
  width: 19px;
  background-color: transparent;
  height: 19px;
}
.social-popup img {
  width: 20px;
  background-color: transparent;
  height: 20px;
}

.whatsapp-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  background-color: blue;
  color: white;
  padding: 11px 20px;
  border-radius: 13px 0;
  font-size: 0.85rem;
  position: relative;
  font-weight: bold;
  text-decoration: none;
  white-space: nowrap;
  transition: all 0.3s ease;
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}


.whatsapp-btn img {
  width: 18px;
  height: 18px;
}




.canto-um-2 {
  position: fixed;
  background-color: transparent;
  width: 20px;
  top: 0;
  left: 19px;
  z-index: 999;
  transform: scaleX(-1);
  fill:  black;
}


.bordinha-2 {
  position: fixed;
  width: 30px;
  min-width:10px;
  top: 10px;
  z-index: 999;
  right: 26px;
  cursor: pointer;
  background-color: transparent;
  transition: all 1s;
  fill: #0000ff;
  transform: matrix(2);
}


  .canto-dois-2 {
  background-color: transparent;
  width: 20px;
  right: 12px;
  top:0;
  max-width: 60px;
  height: 20px;
  right: 20px;
  position: fixed;
  }
