

:root {
  --color-azul-1: #00f;
  --color-azul-2: #00007d;
}


.background-divisor-desktop {
  background: linear-gradient(0deg, var(--color-azul-1), var(--color-azul-2));
  padding: 20px 0;
}



.slider-desk {
    width: 100%;
    overflow: hidden;
    background: transparent;
    padding: 10px 0;
  }
  .slider-track-desk {
    display: flex;
    gap: 28px;
    white-space: nowrap;
    will-change: transform;
  }
  .item-desk {
    animation: linear 300s;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    color: #fff;
    border-radius: 12px;
    font-family: sans-serif;
    font-size: 14px;
    white-space: nowrap;
  }
  .item-desk img,
  .item-desk svg {
    width: 22px;
    height: 22px;
  }
