:root{
  --divisor-h: 70px; 
  --degrade-texto: #fff, #a8afba; --estilo: "stolzl-regular";
}


.sombra{
  position: relative;
  min-height: 100vh;    
  width: 100%;
  margin: 0;
  background-color: transparent;
  background-size: cover;
  overflow: hidden;     
}


.sombra__content{
  position: relative;
  z-index: 2;
  padding-bottom: var(--divisor-h); 
}


.sombra canvas{
  position: absolute !important;
  inset: 0 !important;
  z-index: 0 !important;
}


.img-divisor{
  position: absolute;
  left: 0; 
  right: 0; 
  bottom: 0;
  z-index: 3;             
  pointer-events: none;
}
.img-divisor img{
  display: block;
  width: 100%;
  height: var(--divisor-h); 
  object-fit: cover;        
}

/* seu CSS existente (mantém) */
.primary-text-desktop{ display:flex; 
  width:100%; 
  padding-top:12%; 
  justify-content:right; 
  text-align:center; 
  align-items:center; }
.primary-text-desktop h1{
  color: transparent;
  background: linear-gradient(50deg, var(--degrade-texto));
  -webkit-background-clip: text; 
  background-clip: text;
  font-family: var(--estilo);
  font-size: 2.8rem; 
  font-weight: bold; 
  line-height: 1.4; 
  margin: 0 0 20px;
  z-index: 2; /* acima do canvas */
}
.circulo-desk{ 
  position:absolute; 
  left:50%; 
  transform:translate(-50%, 108%); 
  width:50px; 
  height:50px; 
  border-radius:50%; 
  background:transparent; 
  display:flex; 
  z-index:4; 
  align-items:center; 
  justify-content:center; 
  pointer-events:none; }
.circulo-desk span{ 
  display:block; 
  width:80%; 
  height:80%; 
  border-radius:50%; 
  border:4px solid #fff; 
  border-top-color:transparent; 
  border-bottom-color:transparent; }
