

:root {
    --degrade-texto: #fff, #a8afba;
    --estilo: "stolzl-regular";
}


.primary-text-desktop {
  display: flex;
  width: 100%;
  padding-top: 140px;
  justify-content: right;
  text-align: center;
  align-items: center;
  
}.primary-text-desktop h1 {
  color: transparent;
  background: linear-gradient(50deg, var(--degrade-texto));
  -webkit-background-clip: text;
  margin: 0;
  padding: 0;
  font-family: var(--estilo);
  background-clip: text;
  font-size: 2.8rem;
  font-weight: bold;
  line-height: 1.4;
  margin-bottom: 20px;
  z-index: 1;
  font-family: var(--estilo);
}


.sombra {
  top: 0;
  z-index: -1;
  background-size: cover;
}